footer{
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  color: white;
}

.footer_section_ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: #333;
  color: white;
}

a{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    align-content: center;
    
}

ul{
list-style: none;
margin-left: 0;
padding-left: 0;

}

.footer_section_ul > li{
  display: flex;
}

.footer_section_ul_link{
  display: flex;
  justify-content: start;
}

.footer_section2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
.footer_section2 > * ,.footer_section2 > * > li{
padding: 5px;
margin: 5px;
}
      