<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link href="/statics/style.css" rel="stylesheet">
    <link href="/statics/responsive.css" rel="stylesheet">
    
    <title>portfoliov2</title>
  </head>
  <body>
    
    <script type="module" src="/src/main.js"></script>

    <nav class="navbar">
          <div class="logo">MonSite</div>
          <ul class="nav-links">
              <li><a href="../../index.html">Accueil</a></li>
              <li><a href="/templates/projet.html">Projet</a></li>
              <li><a href="/templates/portfolio.html">Portfolio</a></li>
              <li><a href="/templates/contact.html">Contact</a></li>
          </ul>
          <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </nav>


      <main>
        <h1>Contact</h1>

        <form>
            <label for="Nom">Nom</label>
            <input id="Nom" name="Nom" type="text" placeholder="Nom">

            <label for="Prénom">Prénom</label>
            <input id="Prénom" name="Prénom"  type="text" placeholder="Prénom">

            <label for="Adresse">Adresse e-mails</label>
            <input id="Adresse" name="Adresse" type="text" placeholder="Adresse e-mails">

            <label for="messages">messages</label>
            <textarea name="messages" id="messages" placeholder="messages"></textarea>
         
        </form>

       
      </main>

      <footer>
        <section>
          <ul class="footer_section">
              <li><a href="../../index.html">Accueil</a></li>
              <li><a href="./projet.html">Projet</a></li>
              <li><a href="./portfolio.html">Portfolio</a></li>
              <li><a href="./contact.html">Contact</a></li>
          </ul>
        </section>
        <p>&copy; 2025 renaudin-clement.</p>
      </footer>

    </div>


  </body>
</html>
