* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main{
  height: 80%;
  width: 100%;
}

header {
  flex-shrink: 0;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #111;
  color: white;
}

footer {
  flex-shrink: 0;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #111;
  color: white;
}

#c {
  flex: 1;        /* prend tout l'espace disponible */
  display: block;
  width: 100%;
}